{
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["**/*.wxml"],
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": ["**/*.wxss"],
      "options": {
        "parser": "css"
      }
    }
  ]
}
